/* CSS Document */
/**/
.tabox{
	margin: 200px 20px 80px 0; 
/*	text-align: center;*/
	display:inline-block;
	height: 70px;
	width: 300px;
/*	background: #747474;*/
}
.taimg{
	float: left;
	margin: 0 10px 0 0;
	height: 60px;
	border-radius: 50%;
	position:relative;
}
.bt{
	height: 70px;
	width: 300px;
	float: right;
	padding: 2px 5px;
	margin-top: 2px;
	font-family: "微软雅黑";
	font-size: 13px;
	text-align: left;
	color:#4D4D4D;
}
.bt:hover{
	color:#000000;
	font-size: 15px;
	transition: .5s;
}
.bt:hover a{
	color:#070045;
	font-size: 25px;
	transition: .5s;
}
.bt:hover img{
	height: 70px;
	transition: .5s;
}
.bt a{
	color: #000000;
	font-size: 20px;
	text-decoration: none;
}
.byu{
	font-family: "微软雅黑";
	font-size: 18px;
	color: #353535;
}

/*------------------------------*/

.poetrybox{
	position:center;
	margin: 2% 2% 2% 2%;
	padding: 1% 2% 2% 2%;
	width: 50%;
	/*height: 400px;*/
	text-align: center;
	display:inline-block;
	background: #407190;
	opacity:revert;
	/*box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.5);*/
}
.poetrybox:hover{
	position:center;
	margin: 2% 2% 2% 2%;
	padding: 1% 2% 2% 2%;
	width:55%;
	/*height: 400px;*/
	text-align: center;
	display:inline-block;
	background: #407190;
	opacity:revert;
	box-shadow: 4px 4px 4px 4px rgba(0,0,0,0.5);
	transition: .5s;
}

#mbox{
	position: relative;
	padding: 20px 0 20px 0;
	margin: 10px 0 10px 0;
	font-family: "微软雅黑";
	text-align: center;
	background:#C7C7C7;
	opacity: 0.9;
	box-shadow: 8px 8px 16px 16px rgba(0,0,0,0.5);
}

.poetry_p{
	display: inline-block;
	width: 70%;
	margin-left: 30px;
	color: #eae6ed;
	text-align: left;
	opacity: 1;
}

.poetry_span{
	color: rgba(227, 227, 227, 0.6);;
	text-align: right;
}
